
// base.scss
@mixin body-font {
  font-family: 'Merriweather Sans', sans-serif;
}

@mixin heading-font {
  font-family: 'Merriweather', sans-serif;
}

/* base color */
$base-color: #edeff0;
$color-main: #c69c5b;
$color-main-dark: #2a2a2a;

/* used color */
$color-red: #b70015;
$color-light-red: #be142f;
$color-white: #ffffff;
$color-very-light-grey: #f5f5f5;
$color-light-grey: #ebebeb;
$color-grey: #a5a5a5;
$color-dark-grey: #636363;
$color-yellow: #f4b350;
$color-brown: #483835;


$color-transparent-dark: rgba(0,0,0,0.5);
$color-transparent-brown: rgba(68, 48, 16, 0.72);
$color-transparent-white: rgba(255,255,255,0.5);
$color-strong-white: rgba(255,255,255,0.8);
