// layout.scss

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	font-size: 14px;
	@include body-font;
	font-weight: 300;
	color: $color-dark-grey;
	line-height: 24px;
	background-image: url('../img/pattbg.jpg');
	background-repeat: repeat;
}

p {
	@include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
	@include heading-font;
}

a {
	color: black;

	&:hover {
		color: $base-color;
		text-decoration: none;
	}

	&:focus {
		outline: 0;
	}
}
/*
* Navbar
*/
header {
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
}

.navbar-default {
	text-align: center;
	background: $color-strong-white;
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
	height: 80px;
	min-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
	@media (max-width: 1024px) {
		position: relative;
	}

	.logo {
		padding: 7.5px 0;
		@media (max-width: 1024px) {
			position: absolute;
			left: 10%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%,  -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		@media (min-width: 1024px) {
			display: none;
		}

		img {
			height: 35px;
		}
	}
	.head-logo{
	    margin: auto;
	    width: 60%;
	    padding: 10px;
	    text-align: center;
		>img{
			height: 60px;
		}
	}
	@media(max-width: 1024px) {
		height: auto;
	}

	.navbar-collapse {
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		@media(min-width: 1025px) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	.nav {
		@media(min-width: 768px) {
			display: table;
			width: 100%;
			padding-top: 15px;


			> li {
				display: table-cell;
				float: none;
				width: auto;

				&:focus,
				&:hover {
					> a {
						color: $color-main;

						&:before {
							content: '';
							background: $color-main;
							height: 3px;
							display: block;
							width: 100%;
							position: absolute;
							bottom: 0;
							left: 0;
						}
					}
				}

				&.dropdown {
					&:hover {
						.dropdown-menu {
							display: block;
						}
					}

					.dropdown-menu {
						border: 0 transparent;

						li {
							a {
								padding: 5px 20px;
								color: $color-dark-grey;
							}
						}
						@media(min-width: 768px) {
							> li {
								> a:hover {
									background: $color-main;
									color: $color-white;
								}
							}
						}
					}
				}

				> a {
					text-align: center;
					white-space: nowrap;
					color: $color-brown;
					text-transform: uppercase;
					padding-top: 0;
					padding-bottom: 0;
					font-size: 14px;
					height: 50px;
					line-height: 50px;
					position: relative;
					font-weight: 500;
					@include heading-font;
				}
			}
		}
	}
}
/*
* Mixin image
*/
@mixin imgbase($position: absolute, $height: 100%, $width: 100%, $top: 50%, $left: 50%, $transform: translate(-50%, -50%), $max-width: inherit!important, $object-fit: cover) {
	position: $position;
	height: $height;
	width: $width;
	top: $top;
	left: $left;
	transform: $transform;
	-webkit-transform: $transform;
	-ms-transform: $transform;
	max-width: $max-width;
	object-fit: $object-fit;
}
/*
* Margin
*/
.margin-blarge {
	margin-bottom: 40px;
}
/*
* Button
*/
a,
button {
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

button {
	background: $base-color;
	color: $color-white;

	&:hover {
		i {
			color: $color-white;
		}
	}
}

.btn-basic {
	padding: 5px 20px;
	border: 1px solid $base-color;
	border-radius: 0;
	font-weight: 300;
	color: $base-color;

	&:hover {
		background: $base-color;
		color: #fff;
		border: 1px solid $base-color;
	}
}

.btn-yellow {
	padding: 5px 20px;
	border: 1px solid $color-yellow;
	background: $color-yellow;
	border-radius: 0;
	font-weight: 300;
	color: $color-white;

	&:hover {
		background: $base-color;
		color: #fff;
		border: 1px solid $base-color;
	}
}

.btn-main {
	padding: 5px 20px;
	background: $color-main;
	border-radius: 0;
	font-weight: 300;
	color: $color-white;
	text-transform: uppercase;
	display: inline-block;

	&.large {
		margin-top: 5px;
		border-radius: 5px;
		float: right;
		float: right;
		padding: 10px 20px;
		text-align: center;
		width: 30%;
		max-width: 300px;
		font-size: 20px;
		display: inline-block;
		font-weight: 400;
		letter-spacing: 0.5px;
	}

	&:hover {
		color: $color-white;
		background: $color-main-dark;
	}
}

.form-control {
	border-radius: 5px !important;
	margin: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;

	&:focus {
		box-shadow: none;
		border-color: $color-main;
	}
}
/*
* Slick slider adjustment
*/
.slider-for,
.slideroom-for {
	// -webkit-box-shadow: 2px 4px 6px 1px rgba(0,0,0,.2);
	// -moz-box-shadow: 2px 4px 6px 1px rgba(0,0,0,.2);
	// box-shadow: 2px 2px 6px 1px rgba(0,0,0,.2);

	.slick-arrow {
		color: #fff;
		text-align: center;
		z-index: 99;

		&.slick-prev {
			left: 25px;
		}

		&.slick-next {
			right: 25px;
		}
	}

	button {
		i {
			font-size: 40px;
		}
	}
}

.slick-next:before,
.slick-prev:before {
	display: none;
}

.slideroom-for {
	box-shadow: none;
	@media(min-width: 768px) {
		.slick-arrow {
			display: none!important;
		}
	}
	@media(max-width: 767px) {
		.slick-arrow {
			top: 25%;
		}
	}
}

.white-popup {
	position: relative;
	background: $color-white;
	padding: 25px;
	width: auto;
	max-width: 600px;
	margin: 0 auto;

	&.homepop {
		padding: 0;

		.intro-contentmb {
			img {
				width: 100%;
			}
		}

		.mfp-close {
			right: -10px;
			top: -40px;
			color: $color-white;
		}
	}
}

.mfp-zoom-in {
	/* start state */
	/* animate in */
	/* animate out */
}

.mfp-zoom-in .mfp-with-anim {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
	opacity: 1;
	transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
	transform: scale(0.8);
	opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
