@media(max-width: 991px) {
	.menu-home {
		.menu {
			h4 {
				font-size: 30px;
			}
		}
	}
}

@media(max-width: 767px) {
	.menu-home {
		.menu {
			h4 {
				display: none;
			}
		}
	}

	.main-footer {
		.logo-footer {
			margin-left: auto;
			margin-right: auto;
		}

		.social-footer {
			text-align: center;

			h3 {
				text-align: center;
			}
		}
	}
}
