/* Table of Content

	- Sectitle - global section title
  - Texlink - link style
  - Coverbox - page main coverbox
  - Innerlist - global listing content

*/
/* Sectitle - global section title */
.sectitle {
	h2 {
		position: relative;
		padding-bottom: 30px;

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			right: calc(50% - 35px);
			height: 3px;
			width: 75px;
			background: #ebebeb;
		}
	}
}

.sectitle__seconda {
	text-align: center;
	h2{
		    padding-bottom: 0;
	}

	.subtext {
		position: relative;
		padding: 5px 0 10px;
		display: block;
		color: #c69c5b;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 50%;
			height: 10px;
			width: 10px;
			border-radius: 100%;
			background: $color-brown;
		}
	}
}

.sectitle__maintittle {
	h1 {
		color: $color-brown;
	}
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.sectitle__others {
	position: relative;
	text-align: center;
	padding-bottom: 30px;

	h2 {
		color: $color-brown;

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 50%;
			height: 10px;
			width: 10px;
			border-radius: 100%;
			background: $color-brown;
		}
	}
}

.section__block {
	padding: 60px 0!important;
	margin-bottom: 0!important;
}
/* Texlink - link style */
.textlink {
	text-align: center;

	a {
		margin: 0 auto;
		display: inline-block;

		&:after {
			content: '';
			display: block;
			margin: auto;
			height: 1px;
			width: 0;
			background: 0 0;
			transition: width 0.4s ease,background-color 0.4s ease;
		}

		&:hover {
			&:after {
				background: #c69c5b;
				width: 100%;
			}
		}
	}
}
/* Coverbox - page main coverbox */
.coverbox {
	position: relative;
	padding-bottom: 30%;
	background-size: cover;
	background-position: 50%;
	overflow: hidden;
	min-height: 350px;

	&:before {
		background: rgba(0,0,0,.5);
		width: 100%;
		display: block;
		height: 100%;
		content: "";
		position: absolute;
	}

	.boxtitle {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: #fff;

		h1,
		h2 {
			position: relative;
			padding-bottom: 30px;
			font-size: 36px;

			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				height: 10px;
				width: 10px;
				border-radius: 100%;
				background: #fff;
				transform: translate(-50%, -50%);
			}
		}

		.subtext {
			padding: 15px 0 10px;
			display: block;
		}

		.search-box {
			padding-top: 20px;
		}
	}
}
/* Innerlist - global listing content */
.innerlistcontent {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;

	.ctnimage {
		position: relative;
		height: 0;
		padding-bottom: 100%;
		overflow: hidden;

		> img {
			@include imgbase;
		}
	}

	.ctndesc {
		width: 100%;
		background-color: $color-transparent-white;
		position: relative;
		bottom: 0;

		.ctntitle {
			z-index: 2;
			padding: 15px 0;

			&:before {
				background: #c69c5b;
				content: "";
				height: 2px;
				position: absolute;
				top: 50%;
				width: 30px;
				display: inline;
			}

			h4 {
				color: $color-brown;
				padding-left: 40px;
			}
		}
	}

	.icofac {
		position: absolute;
		bottom: 15px;
		z-index: 1;

		ul {
			list-style: none;
			margin-bottom: 0;
			padding-left: 15px;

			li {
				width: 30px;
				height: 30px;
				padding: 5px;
				margin: 0 2px;
				background-color: $color-strong-white;
				display: inline-block;

				img {
					width: 100%;
					height: 100%;
					display: inline-block;
					line-height: 30px;
					vertical-align: top;
				}
			}
		}
	}

	a {
		.bxoverlay {
			opacity: 0;
		}

		&:hover {
			.ctndesc {
				background-color: transparent;
				z-index: 2;

				h4 {
					color: #fff;
					z-index: 2;
				}
			}

			.bxoverlay {
				background-color: $color-transparent-brown;
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				z-index: 1;
				position: absolute;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;
				opacity: 1;
			}
		}
	}
}

.innerlistcontent__seconda {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;

	.ctnimage {
		position: relative;
		height: 0;
		padding-bottom: 100%;
		overflow: hidden;

		> img {
			@include imgbase;
		}
	}

	.ctndesc {
		width: 100%;
		position: relative;

		.ctntitle {
			z-index: 2;
			padding: 15px 0;

			&:before {
				background: #c69c5b;
				content: "";
				height: 2px;
				position: absolute;
				top: 50%;
				width: 30px;
				display: inline;
			}

			h4 {
				color: $color-brown;
				padding-left: 40px;
			}
		}
	}

	.icofac {
		position: absolute;
		bottom: 15px;
		z-index: 1;

		ul {
			list-style: none;
			margin-bottom: 0;
			padding-left: 15px;

			li {
				width: 30px;
				height: 30px;
				padding: 5px;
				margin: 0 2px;
				background-color: hsla(0,0%,100%,.8);
				display: inline-block;

				img {
					width: 100%;
					height: 100%;
					display: inline-block;
					line-height: 30px;
					vertical-align: top;
				}
			}
		}
	}

	a {
		.bxoverlay {
			opacity: 0;
		}

		&:hover {
			.ctndesc {
				h4 {
					color: #000;
					z-index: 2;
				}
			}

			.bxoverlay {
				background-color:$color-transparent-brown;
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				z-index: 1;
				position: absolute;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;
				opacity: 1;
			}
		}
	}
}

.innerlistcontent__thirda {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;

	.ctnimage {
		position: relative;
		height: 0;
		padding-bottom: 100%;
		overflow: hidden;

		> img {
			@include imgbase;
		}
	}

	.ctndesc {
		width: 100%;
		bottom: 0;
		position: absolute;

		.ctntitle {
			z-index: 2;
			padding: 15px 0;

			&:before {
				background: #c69c5b;
				content: "";
				height: 2px;
				position: absolute;
				top: 50%;
				width: 30px;
				display: inline;
			}

			h4 {
				color: $color-brown;
				padding-left: 40px;
			}
		}
	}

	.icofac {
		position: absolute;
		bottom: 15px;
		z-index: 1;

		ul {
			list-style: none;
			margin-bottom: 0;
			padding-left: 15px;

			li {
				width: 30px;
				height: 30px;
				padding: 5px;
				margin: 0 2px;
				background-color: hsla(0,0%,100%,.8);
				display: inline-block;

				img {
					width: 100%;
					height: 100%;
					display: inline-block;
					line-height: 30px;
					vertical-align: top;
				}
			}
		}
	}

	a {
		.bxoverlay {
			opacity: 0;
		}

		&:hover {
			.ctndesc {
				h4 {
					color: #fff;
					z-index: 2;
				}
			}

			.bxoverlay {
				background-color: $color-transparent-brown;
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				z-index: 1;
				position: absolute;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;
				opacity: 1;
			}
		}
	}
}

/* Slidecontent - main slide */
.contentslide {
	.slider-for {
		.item {
			span {
				position: relative;
				padding-bottom: 67%;
				height: 0;
				overflow: hidden;
				display: block;
				img {
					@include imgbase;
				}
			}
		}

		button {
			position: absolute;
			bottom: 10px;
			top: auto;
			left: auto;
			width: 30px;
			height: 30px;
			background-color: rgba(255,255,255, .7);

			&:hover {
				background-color: rgba(255,255,255, 1);
			}

			i {
				color: #c69c5b;
				font-size: 22px;
			}
			&.slick-prev {
				right: 60px;
				left: auto;
			}
		}
	}
}

.contentslideinfo {
	margin: 30px 0;
}

.contentslidethumb {
	.slider-nav {
		.item {
			span {
				position: relative;
				padding-bottom: 67%;
				height: 0;
				overflow: hidden;
				display: block;
				margin: 0 0px 20px;
				img {
					@include imgbase;
				}
			}
		}

		.slick-prev {
			left: 25px;
		}

		.slick-next {
			right: 25px;
		}

		i {
			font-size: 24px;
		}
	}
}
