// themes.scss
// -----------------------------------------------------------------------------
// Common class
// -----------------------------------------------------------------------------

h1,
h3 {
	&.heading-title {
		color: $color-main;
		text-align: center;
		text-transform: uppercase;
		font-size: 24px;
		margin-bottom: 40px;
		position: relative;
		font-weight: 500;
	}
}

.slider-nav {
	&.global-thumbimg {
		margin: 0 -10px;

		.item {
			padding: 0 10px;
		}
	}
}

.global-centerimg,
.global-thumbimg {
	a,
	span {
		display: block;
		padding-bottom: 75%;
		height: 0;
		overflow: hidden;
		position: relative;
		width: 100%;

		img {
			left: 50%;
			margin: 0 auto !important;
			position: absolute;
			height: 100%;
			width: auto;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
		}
	}
}
// -----------------------------------------------------------------------------
// Top section
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// Homepage
// -----------------------------------------------------------------------------

#wrapper {
	margin-bottom: 40px;
	margin-top: 80px;

	&.homepage {
		margin-bottom: 0;
	}
}

.homepage {
	.section {
		margin-bottom: 40px;

		h2,
		h3 {
			color: $color-main;
			text-align: center;
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 25px;
			font-size: 36px;
			letter-spacing: 0.5px;
		}

		&.main-slider {
			position: relative;
			margin-bottom: 0;

			.menu-home {
				position: absolute;
				background-color: $color-transparent-white;
				bottom: 8%;
				left: 50%;
				-webkit-transform: translate(-50%, 0);
				-ms-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
				color: $color-white;
				text-align: center;
				width: 100%;
				max-width: 1200px;
				z-index: 99;
				border-radius: 3px;
				padding: 5px 20px;

				h2 {
					color: $color-white;
				}

				.menu {
					padding: 5px;
				}

				.menu-home-content {
					border-radius: 5px;
					padding: 20px;
					width: 100%;
					height: 100%;
					background-color: $color-main;

					h4 {
						color: $color-white;
					}

					> img {
						margin-bottom: 10px;
					}

					&:hover {
						background: $color-main-dark;
					}
				}
			}
		}

		&.content-intro {
			padding-top: 30px;
		}

		&.content-gallery {
			background-size: cover;
			background-color: $base-color;
			padding-top: 30px;
			padding-bottom: 60px;

			.tittle-section {
				text-align: center;
			}

			.outer-gallery {
				margin-top: 30px;

				.inner-gallery {
					position: relative;
					overflow: hidden;
					margin-bottom: 30px;

					&:hover {
						.overlay {
							opacity: 1;
						}

						.gallery-desc {
							display: none;
						}
					}

					.overlay {
						position: absolute;
						background: $color-transparent-dark;
						z-index: 1;
						padding: 26px;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						opacity: 0;
						-webkit-transition: all 0.3s ease;
						-ms-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
						transition: all 0.3s ease;

						.overlay-line {
							position: relative;
							width: 100%;
							height: 100%;
							border: 2px solid $color-main;

							h4 {
								position: absolute;
								top: 50%;
								left: 50%;
								font-size: 20px;
								color: $color-white;
								margin-right: -50%;
								transform: translate(-50%, -50%);
							}
						}
					}

					.gallery-img {
						position: relative;
						height: 0;
						padding-bottom: 100%;
						overflow: hidden;

						img {
							position: absolute;
							width: 100%;
							max-width: none;
							height: auto;
							left: 50%;
							top: 50%;
							-webkit-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							-o-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
						}
					}

					.gallery-desc {
						height: 70px;
						width: 100%;
						bottom: 0;
						position: absolute;
						background-color: $color-white;

						&:before {
							background: #c69c5b;
							content: "";
							height: 2px;
							position: absolute;
							top: 50%;
							width: 30px;
							display: inline;
						}
					}

					.gallery-desctittle {
						padding: 15px 40px;

						h5 {
							letter-spacing: 1px;
							font-size: 16px;
							color: $color-brown;
						}

						h4 {
							color: $color-brown;
							font-size: 20px;
						}
					}
				}
			}

			h2 {
				color: $color-brown;
				margin-bottom: 0;
			}

			a {
				color: $color-main;
			}
		}

		&.content-testimonial {
			text-align: center;
			padding-bottom: 50px;
			margin-bottom: 0;
			.text-slider {
				position: relative;
			    width: 100%;
			    height: auto;
			    overflow: hidden;
			}

			.owl-nav {
				display: none;

			}

			.owl-theme .owl-dots .owl-dot.active span,
			.owl-theme .owl-dots .owl-dot:hover span {
			    background: #ff7b00 !important;
			}
			.tittle-slide{
				text-align: center;
			}

			a {
				color: $color-main;
				font-style: italic;
			}
		}
	}
}
// -----------------------------------------------------------------------------
// Pages
// -----------------------------------------------------------------------------

.singlepage {
	margin-bottom: 0 !important;

	.hero-image {
		position: relative;
		padding-bottom: 40%;
		background-size: cover !important;
		background-position: center !important;
		overflow: hidden;
		min-height: 350px;

		&:before {
			background: rgba(0,0,0,.5);
			width: 100%;
			display: block;
			height: 100%;
			content: "";
			position: absolute;
		}

		.tittle-box {
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);

			h2 {
				color: $color-white;

				&:after {
					margin-left: 50%;
					transform: translate(-50%,-50%);
					background: $color-white;
					content: "";
					height: 15px;
					top: 50%;
					border-radius: 100%;
					width: 15px;
					display: block;
					margin-top: 15px;
					margin-bottom: 5px;
				}
			}

			h5 {
				color: $color-white;
			}
		}
	}

	.section {
		margin-top: 50px;
		margin-bottom: 50px;

		&.ctnsingle-detail {
			margin-top: 0 !important;
			background-size: cover;
			background-color: #edeff0;
			padding-top: 30px;
			padding-bottom: 30px;

			.carousel-inner.vertical {
				height: 100%;
			}

			.carousel-inner.vertical > .item {
				-webkit-transition: 0.9s ease-in-out top;
				-o-transition: 0.9s ease-in-out top;
				transition: 0.9s ease-in-out top;
			}
			@media all and (transform-3d), (-webkit-transform-3d) {
				.carousel-inner.vertical > .item {
					-webkit-transition: -webkit-transform 0.6s ease-in-out;
					-o-transition: -o-transform 0.6s ease-in-out;
					transition: transform 0.6s ease-in-out;
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
					-webkit-perspective: 1000;
					perspective: 1000;
				}

				.carousel-inner.vertical > .item.active.right,
				.carousel-inner.vertical > .item.next {
					-webkit-transform: translate3d(0, 33.33%, 0);
					transform: translate3d(0, 33.33%, 0);
					top: 0;
				}

				.carousel-inner.vertical > .item.active.left,
				.carousel-inner.vertical > .item.prev {
					-webkit-transform: translate3d(0, -33.33%, 0);
					transform: translate3d(0, -33.33%, 0);
					top: 0;
				}

				.carousel-inner.vertical > .item.active,
				.carousel-inner.vertical > .item.next.left,
				.carousel-inner.vertical > .item.prev.right {
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
					top: 0;
				}
			}

			.carousel-inner.vertical > .active {
				top: 0;
			}

			.carousel-inner.vertical > .next,
			.carousel-inner.vertical > .prev {
				top: 0;
				height: 100%;
				width: auto;
			}

			.carousel-inner.vertical > .next {
				left: 0;
				top: 33.33%;
				right: 0;
			}

			.carousel-inner.vertical > .prev {
				left: 0;
				top: -33.33%;
				right: 0;
			}

			.carousel-inner.vertical > .next.left,
			.carousel-inner.vertical > .prev.right {
				top: 0;
			}

			.carousel-inner.vertical > .active.left {
				left: 0;
				top: -33.33%;
				right: 0;
			}

			.carousel-inner.vertical > .active.right {
				left: 0;
				top: 33.33%;
				right: 0;
			}

			#carousel-pager .carousel-control.left {
				bottom: initial;
				width: 100%;
			}

			#carousel-pager .carousel-control.right {
				top: initial;
				width: 100%;
			}
			//end-carousel-copy
			.ctnsingle-btn {
				padding-top: 50px;
				padding-bottom: 20px;
				text-align: center;
				top: 50%;
				left: 50%;

				.btn-main {
					&.large {
						padding: 20px;
						width: 20%;
						float: none;
						@media(max-width: 767px) {
							width: 50%;
						}
					}
				}
			}

			.ctnsingle-text {
				padding-top: 15px;

				li,
				p {
					color: $color-brown;
				}

				h4 {
					color: $color-brown;
					padding-bottom: 10px;
				}
			}

			.owl-carousel {
				.owl-slide {
					padding-bottom: 60%;
				}

				.owl-nav {
					position: absolute;
					top: 40%;
					left: 20px;
					right: 20px;
					@media(max-width: 767px) {
						top: 45%;
					}

					.owl-prev {
						float: left;
					}

					.owl-next {
						float: right;
					}

					i {
						color: $color-white;
						font-size: 40px;
					}
				}

				.owl-dots {
					position: absolute;
					left: 50%;
					bottom: 5px;
					-webkit-transform: translate(-50%, 0);
					-ms-transform: translate(-50%, 0);
					-o-transform: translate(-50%, 0);
					transform: translate(-50%, 0);
					text-align: center;

					.owl-dot {
						display: inline-block;
						padding: 3px;

						span {
							width: 10px;
							height: 10px;
							background: $color-transparent-white;
							display: block;
							border-radius: 100%;
						}

						&.active,
						&:hover {
							span {
								background: $color-white;
							}
						}
					}
				}
			}
		}

		&.content-gallery {
			background-size: cover;
			background-color: $color-white;
			padding-top: 30px;
			padding-bottom: 60px;

			.tittle-section {
				text-align: center;
			}

			.outer-gallery {
				margin-top: 30px;

				.inner-gallery {
					position: relative;
					overflow: hidden;
					margin-bottom: 30px;

					&:hover {
						.overlay {
							opacity: 1;
						}

						.gallery-desc {
							display: none;
						}

						.gallery-descseconda {
							display: none;
						}
					}

					.overlay {
						position: absolute;
						background: $color-transparent-dark;
						z-index: 1;
						padding: 26px;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						opacity: 0;
						-webkit-transition: all 0.3s ease;
						-ms-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
						transition: all 0.3s ease;

						.overlay-line {
							position: relative;
							width: 100%;
							height: 100%;
							border: 2px solid $color-main;

							h4 {
								position: absolute;
								top: 50%;
								left: 50%;
								font-size: 20px;
								color: $color-white;
								margin-right: -50%;
								transform: translate(-50%, -50%);
							}
						}
					}

					.gallery-img {
						position: relative;
						height: 0;
						padding-bottom: 100%;
						overflow: hidden;

						img {
							position: absolute;
							width: 100%;
							max-width: none;
							height: auto;
							left: 50%;
							top: 50%;
							-webkit-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							-o-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
						}
					}

					.gallery-desc {
						height: 70px;
						width: 100%;
						bottom: 0;
						position: absolute;
						background-color: $color-light-grey;

						&:before {
							background: #c69c5b;
							content: "";
							height: 2px;
							position: absolute;
							top: 50%;
							width: 30px;
							display: inline;
						}
					}

					.gallery-desctittle {
						padding: 15px 40px;

						h5 {
							letter-spacing: 1px;
							font-size: 16px;
							color: $color-brown;
						}

						h4 {
							font-size: 20px;
							color: $color-brown;
						}
					}
				}
			}

			h2 {
				color: $color-dark-grey;
				margin-bottom: 0;
			}

			a {
				color: $color-main;
			}
		}

		&.contact {
			.section {
				&.form-contact {
					padding-top: 50px;
					padding-bottom: 50px;

					.contact-desc {
						p {
							color: $color-brown;
						}
					}

					.contact-form {
						.form-control {
							margin: 5px;
							border-radius: 5px!important;
						}

						.row {
							margin-bottom: 10px;
						}

						.btn-main {
							float: right;
							right: 0;
							display: block !important;
							width: 100% !important;
							max-width: none !important;
						}
					}
				}

				&.map {
					margin-bottom: -60px;
				}
			}
		}
	}
}
// -----------------------------------------------------------------------------
// Slider
// -----------------------------------------------------------------------------

.owl-carousel {
	position: relative;
	height: 100%;
	// div:not(.owl-controls) {
	// 	height: 100%;
	// }
	.owl-slide {
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: 90vh;
		overflow: hidden;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	div.owl--text {
		position: absolute;
		bottom: 4em;
		left: 2em;
		width: 20em;
		height: 8em;
		padding: 1em;
		background: rgba(255, 255, 255, .5);
		border-radius: 4px;
	}

	.owl-nav {
		position: absolute;
		top: 40%;
		left: 20px;
		right: 20px;
		@media(max-width: 767px) {
			top: 45%;
		}

		.owl-prev {
			float: left;
		}

		.owl-next {
			float: right;
		}

		i {
			color: $color-white;
			font-size: 40px;
		}
	}

	.deals-slide {
		.owl-prev {
			float: left;

			&:before {
				font-family: 'FontAwesome';
				content: '\f104';
				font-size: 28px;
				color: $color-white;
			}
		}

		.owl-next {
			float: right;

			&:before {
				font-family: 'FontAwesome';
				content: '\f105';
				font-size: 28px;
				color: $color-white;
			}
		}

		i {
			color: $color-white;
			font-size: 40px;
		}
	}
}

#wrapper {
	&.homepage {
		.owl-carousel {
			.owl-slide {
				padding-bottom: calc(100vh - 70px);
				min-height: 400px;
				@media(max-width: 767px) {
					padding-bottom: 60vh;
				}

				&:after {
					content: '';
					position: absolute;
					height: 100%;
					width: 100%;
					background: $color-transparent-dark;
					@media (max-width: 992px) {
						background: transparent;
					}
				}
			}
		}
	}
}
// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.main-footer {
	background-color: $color-very-light-grey;

	.footer-link {
		background: $color-main-dark;
		padding: 30px 0;

		.logo-footer {
			text-align: center;
			margin-bottom: 30px;

			.logo-footerinner {
				height: 200px;
				position: relative;
			}

			img {
				position: absolute;
				width: 70%;
				padding: 10px;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}

		.social-footer {
			text-align: center;

			h3 {
				text-align: center;
			}

			ul {
				font-size: 0;
				margin: 0 -7px;
				display: inline-block;

				li {
					display: inline-block;
					padding: 5px;

					a {
						display: block;
						height: 40px;
						width: 40px;
						text-align: center;
						color: $color-main;
						background: $color-white;
						-webkit-border-radius: 100%;
						-ms-border-radius: 100%;
						border-radius: 20%;

						i {
							line-height: 40px;
							font-size: 20px;
						}

						&:hover {
							background: $color-main;
							color: $color-main-dark;
						}
					}
				}
			}
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {
			display: table;
			float: left;
		}

		p {
			font-size: 16px;
			color: $color-white;
		}
	}

	.footer-info {
		padding: 15px;

		p {
			margin-bottom: 0;
			color: $color-dark-grey;
			font-size: 12px;
			text-align: center;
		}
	}
}
// -----------------------------------------------------------------------------
// Mobile menu
// -----------------------------------------------------------------------------
// Mobile menu

.mobmenu {
	@media(min-width: 1025px) {
		display: none;
	}
	position: absolute;
	top: 6px;
	right: 10px;
	line-height: 20px;

	.user-form {
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;

		i {
			font-size: 26px;
			color: $color-dark-grey;
		}
	}
}

.toggleMenu {
	background: transparent;
	border: 1px solid $color-white;
	color: $color-white!important;
	display: none;
	font-size: 20px;
	padding: 7px 10px;
}

#desknav {
	@media(max-width: 1024px) {
		.nav,
		.toggleMenu {
			display: none!important;
		}
	}
}

.sidenav {
	@media(min-width:1152px) {
		display: none;
	}
	@media(max-width: 1024px) {
		display: block;
	}
	background: rgba(0,0,0, .7);
	height: 100%;
	overflow-x: hidden;
	left: 0;
	top: 0;
	transition: 0.5s;
	position: fixed;
	width: 0;
	z-index: 999 !important;

	a {
		color: $color-dark-grey!important;
		display: block;
		font-size: 12px;
		padding: 0;
		text-decoration: none;
		transition: 0.3s;
		line-height: 38px;
		@media(max-width: 767px) {
			line-height: 38px!important;
		}
	}

	li {
		a {
			@media(max-width: 1024px) {
				font-size: 14px;
				border-bottom: 1px solid $color-light-grey;
				text-transform: uppercase;
			}
		}
	}

	li {
		&.has-submenu {
			ul {
				li {
					a {
						@media(max-width: 1024px) {
							line-height: 20px !important;
							padding: 5px 10px !important;
						}
					}
				}
			}
		}
	}

	.closebtn {
		font-size: 30px;
		position: absolute;
		top: 0;
		right: 80px;
		color: $color-dark-grey!important;
		padding: 0 5px;
	}

	.monav {
		> li {
			border-bottom: 1px solid $color-white;
			display: block;
			position: relative;

			&:first-child {
				a {
					border-top: 1px solid $color-light-grey;
				}
			}

			.sub-menu {
				padding-left: 0;
				max-height: 0;
				overflow: hidden;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
			}

			&.shrink {
				> .sub-menu {
					max-height: 200em;
					-webkit-transition-duration: 1s;
					transition-duration: 1s;

					a {
						padding-left: 20px;
						background: rgba(0,0,0,0.03);
					}
				}
			}

			i {
				-webkit-transform: translate(0px, 0px);
				-ms-transform: translate(0px, 0px);
				transform: translate(0px, 0px);
				-webkit-transition: all 0.5s;
				transition: all 0.5s;
				position: absolute;
				top: 0;
				right: 0;
				padding: 0 10px;
				line-height: 38px;
				color: $color-dark-grey;
				cursor: pointer;
				height: 38px;
				font-size: 20px;
			}
		}
	}
}

#mobinav {
	.mobinav-inner {
		width: auto;
		background: $color-white;
		height: 100%;
		margin-right: 70px;
		color: $color-dark-grey;

		.monav {
			padding: 50px 15px;
		}

		&.default {
			.intro {
				background: $color-light-grey;
				padding: 15px 10px;
				text-align: center;

				span {
					text-transform: uppercase;
					display: block;
					margin-bottom: 5px;
				}

				a {
					margin: 0 10px;
					color: $color-white!important;
					border-radius: 3px;
					-webkit-border-radius: 3px;
				}
			}

			.monav {
				a {
					i {
						position: relative;
						color: $color-dark-grey!important;
					}
				}

				.line-top {
					margin-top: 10px;
					padding-top: 10px;
					border-top: 1px solid $color-light-grey;
				}

				.line-bottom {
					margin-bottom: 10px;
					border-bottom: 1px solid $color-light-grey;
				}
			}
		}

		&.login {
			.monav {
				.mobprofile {
					padding: 15px 10px;
					background: $color-light-grey;

					.nav-profile {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
// bootstrap nav menu break point
@media (max-width: 1024px) {
	.navbar-header {
		float: right;
	}

	.navbar-left,
	.navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
		float: left;
		padding: 0;
		border: 0;
		margin-top: 14px;
		margin-bottom: 14px;

		.icon-bar {
			width: 30px;
			height: 3px;
			border-radius: 0;
			background-color: $color-main!important;
			margin-bottom: 2.5px;
			margin-top: 2.5px;
		}
		@media(max-width: 767px) {
			margin-left: 15px;
		}

		&:focus {
			background-color: transparent!important;
		}
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none!important;
	}

	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}

	.navbar-nav > li {
		float: none !important;
		display: block !important;
	}

	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.collapse.in {
		display: block !important;
	}
}

// -----------------------------------------------------------------------------
// Contact Form
// -----------------------------------------------------------------------------
.contact-form {
	label {
		margin-bottom: 15px;
		width: 100%;

		span,
		.wpcf7-form-control-wrap {
			width: 100%;

			input,
			textarea {
				width: 100%;
				padding: 5px;

				&:focus {
					outline: 0;
					border: 1px solid #04A4CC;
				}
			}
		}
	}
}
