/*!
 Theme Name:   Indies Heritage
 Theme URI:    https://indohotels.grpup/indohotels-child/
 Description : Indies Heritage Child Theme
 Author:       Amri K
 Author URI:   http://amrikarisma.com
 Template:     indohotelswp
 Version:      1.0.3
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, one-columns, responsive-layout, accessibility-ready
 Text Domain : hoteldirect-gamma
*/
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700');
body,
html {
	height: 100%;
	margin: 0;
	padding: 0
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
	font-size: 62.5%
}

body {
	font-size: 14px;
	font-weight: 300;
	color: #636363;
	line-height: 24px;
	background-image: url(../hoteldirect-indies-child/asset/img/pattbg.jpg);
	background-repeat: repeat
}

body,
p {
	font-family: Merriweather Sans, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: Merriweather, sans-serif
}

a {
	color: #000
}

a:hover {
	color: #edeff0;
	text-decoration: none
}

a:focus {
	outline: 0
}

header {
	position: fixed;
	width: 100%;
	z-index: 5;
	top: 0
}

.navbar-default {
	text-align: center;
	background: hsla(0, 0%, 100%, .8);
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
	height: 80px;
	min-height: 50px;
	padding-top: 0;
	padding-bottom: 0
}

@media (max-width:1024px) {
	.navbar-default {
		position: relative
	}
}

.navbar-default .logo {
	padding: 7.5px 0
}

@media (max-width:1024px) {
	.navbar-default .logo {
		position: absolute;
		left: 10%;
		top: 50%;
		transform: translate(-50%, -50%)
	}
}

@media (min-width:1024px) {
	.navbar-default .logo {
		display: none
	}
}

.navbar-default .logo img {
	height: 35px
}

.navbar-default .head-logo {
	margin: auto;
	width: 60%;
	padding: 10px;
	text-align: center
}

.navbar-default .head-logo>img {
	height: 60px
}

@media (max-width:1024px) {
	.navbar-default {
		height: auto
	}
}

.navbar-default .navbar-collapse {
	text-align: center;
	padding-left: 0;
	padding-right: 0
}

@media (min-width:1025px) {
	.navbar-default .navbar-collapse {
		margin-left: -15px;
		margin-right: -15px
	}
}

@media (min-width:768px) {
	.navbar-default .nav {
		display: table;
		width: 100%;
		padding-top: 15px
	}
	.navbar-default .nav>li {
		display: table-cell;
		float: none;
		width: auto
	}
	.navbar-default .nav>li:focus>a,
	.navbar-default .nav>li:hover>a {
		color: #c69c5b
	}
	.navbar-default .nav>li:focus>a:before,
	.navbar-default .nav>li:hover>a:before {
		content: "";
		background: #c69c5b;
		height: 3px;
		display: block;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0
	}
	.navbar-default .nav>li.dropdown:hover .dropdown-menu {
		display: block
	}
	.navbar-default .nav>li.dropdown .dropdown-menu {
		border: 0 transparent
	}
	.navbar-default .nav>li.dropdown .dropdown-menu li a {
		padding: 5px 20px;
		color: #636363
	}
}

@media (min-width:768px) and (min-width:768px) {
	.navbar-default .nav>li.dropdown .dropdown-menu>li>a:hover {
		background: #c69c5b;
		color: #fff
	}
}

@media (min-width:768px) {
	.navbar-default .nav>li>a {
		text-align: center;
		white-space: nowrap;
		color: #483835;
		text-transform: uppercase;
		padding-top: 0;
		padding-bottom: 0;
		font-size: 14px;
		height: 50px;
		line-height: 50px;
		position: relative;
		font-weight: 500;
		font-family: Merriweather, sans-serif
	}
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #c69c5b;
	background: none;
}
.margin-blarge {
	margin-bottom: 40px
}

a,
button {
	transition: all .3s ease
}

button {
	background: #edeff0
}

button,
button:hover i {
	color: #fff
}

.btn-basic {
	padding: 5px 20px;
	border: 1px solid #edeff0;
	border-radius: 0;
	font-weight: 300;
	color: #edeff0
}

.btn-basic:hover {
	background: #edeff0;
	color: #fff;
	border: 1px solid #edeff0
}

.btn-yellow {
	padding: 5px 20px;
	border: 1px solid #f4b350;
	background: #f4b350;
	border-radius: 0;
	font-weight: 300;
	color: #fff
}

.btn-yellow:hover {
	background: #edeff0;
	color: #fff;
	border: 1px solid #edeff0
}

.btn-main {
	padding: 5px 20px;
	background: #c69c5b;
	border-radius: 0;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	display: inline-block
}

.btn-main.large {
	margin-top: 5px;
	border-radius: 5px;
	float: right;
	padding: 10px 20px;
	text-align: center;
	width: 30%;
	max-width: 300px;
	font-size: 20px;
	display: inline-block;
	font-weight: 400;
	letter-spacing: .5px
}

.btn-main:hover {
	color: #fff;
	background: #2a2a2a
}

.form-control {
	border-radius: 5px !important;
	margin: 5px;
	box-shadow: none
}

.form-control:focus {
	box-shadow: none;
	border-color: #c69c5b
}

.slider-for .slick-arrow,
.slideroom-for .slick-arrow {
	color: #fff;
	text-align: center;
	z-index: 3
}

.slider-for .slick-arrow.slick-prev,
.slideroom-for .slick-arrow.slick-prev {
	left: 25px
}

.slider-for .slick-arrow.slick-next,
.slideroom-for .slick-arrow.slick-next {
	right: 25px
}

.slider-for button i,
.slideroom-for button i {
	font-size: 40px
}

.slick-next:before,
.slick-prev:before {
	display: none
}

.slideroom-for {
	box-shadow: none
}

@media (min-width:768px) {
	.slideroom-for .slick-arrow {
		display: none !important
	}
}

@media (max-width:767px) {
	.slideroom-for .slick-arrow {
		top: 25%
	}
}

.white-popup {
	position: relative;
	background: #fff;
	padding: 25px;
	width: auto;
	max-width: 600px;
	margin: 0 auto
}

.white-popup.homepop {
	padding: 0
}

.white-popup.homepop .intro-contentmb img {
	width: 100%
}

.white-popup.homepop .mfp-close {
	right: -10px;
	top: -40px;
	color: #fff
}

.mfp-zoom-in .mfp-with-anim {
	opacity: 0;
	transition: all .2s ease-in-out;
	transform: scale(.8)
}

.mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: all .3s ease-out
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
	opacity: 1;
	transform: scale(1)
}

.mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: .8
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
	transform: scale(.8);
	opacity: 0
}

.mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0
}

h1.heading-title,
h3.heading-title {
	color: #c69c5b;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 40px;
	position: relative;
	font-weight: 500
}

.slider-nav.global-thumbimg {
	margin: 0 -10px
}

.slider-nav.global-thumbimg .item {
	padding: 0 10px
}

.global-centerimg a,
.global-centerimg span,
.global-thumbimg a,
.global-thumbimg span {
	display: block;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
	position: relative;
	width: 100%
}

.global-centerimg a img,
.global-centerimg span img,
.global-thumbimg a img,
.global-thumbimg span img {
	left: 50%;
	margin: 0 auto !important;
	position: absolute;
	height: 100%;
	width: auto;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%)
}

#wrapper {
	margin-bottom: 40px;
	margin-top: 80px
}

#wrapper.homepage {
	margin-bottom: 0
}

.homepage .section {
	margin-bottom: 40px
}

.homepage .section h2,
.homepage .section h3 {
	color: #c69c5b;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 25px;
	font-size: 36px;
	letter-spacing: .5px
}

.homepage .section.main-slider {
	position: relative;
	margin-bottom: 0
}

.homepage .section.main-slider .menu-home {
	position: absolute;
	background-color: hsla(0, 0%, 100%, .5);
	bottom: 8%;
	left: 50%;
	transform: translate(-50%);
	color: #fff;
	text-align: center;
	width: 100%;
	max-width: 1200px;
	z-index: 3;
	border-radius: 3px;
	padding: 5px 20px
}

.homepage .section.main-slider .menu-home h2 {
	color: #fff
}

.homepage .section.main-slider .menu-home .menu {
	padding: 5px
}

.homepage .section.main-slider .menu-home .menu-home-content {
	border-radius: 5px;
	padding: 20px;
	width: 100%;
	height: 100%;
	background-color: #c69c5b
}

.homepage .section.main-slider .menu-home .menu-home-content h4 {
	color: #fff
}

.homepage .section.main-slider .menu-home .menu-home-content>img {
	margin-bottom: 10px
}

.homepage .section.main-slider .menu-home .menu-home-content:hover {
	background: #2a2a2a
}

.homepage .section.content-intro {
	padding-top: 30px
}

.homepage .section.content-gallery {
	background-size: cover;
	background-color: #edeff0;
	padding-top: 30px;
	padding-bottom: 60px
}

.homepage .section.content-gallery .tittle-section {
	text-align: center
}

.homepage .section.content-gallery .outer-gallery {
	margin-top: 30px
}

.homepage .section.content-gallery .outer-gallery .inner-gallery {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px
}

.homepage .section.content-gallery .outer-gallery .inner-gallery:hover .overlay {
	opacity: 1
}

.homepage .section.content-gallery .outer-gallery .inner-gallery:hover .gallery-desc {
	display: none
}

.homepage .section.content-gallery .outer-gallery .inner-gallery .overlay {
	position: absolute;
	background: rgba(0, 0, 0, .5);
	z-index: 1;
	padding: 26px;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all .3s ease
}

.homepage .section.content-gallery .outer-gallery .inner-gallery .overlay .overlay-line {
	position: relative;
	width: 100%;
	height: 100%;
	border: 2px solid #c69c5b
}

.homepage .section.content-gallery .outer-gallery .inner-gallery .overlay .overlay-line h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 20px;
	color: #fff;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.homepage .section.content-gallery .outer-gallery .inner-gallery .gallery-img {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden
}

.homepage .section.content-gallery .outer-gallery .inner-gallery .gallery-img img {
	position: absolute;
	width: 100%;
	max-width: none;
	height: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.homepage .section.content-gallery .outer-gallery .inner-gallery .gallery-desc {
	height: 70px;
	width: 100%;
	bottom: 0;
	position: absolute;
	background-color: #fff
}

.homepage .section.content-gallery .outer-gallery .inner-gallery .gallery-desc:before {
	background: #c69c5b;
	content: "";
	height: 2px;
	position: absolute;
	top: 50%;
	width: 30px;
	display: inline
}

.homepage .section.content-gallery .outer-gallery .inner-gallery .gallery-desctittle {
	padding: 15px 40px
}

.homepage .section.content-gallery .outer-gallery .inner-gallery .gallery-desctittle h5 {
	letter-spacing: 1px;
	font-size: 16px;
	color: #483835
}

.homepage .section.content-gallery .outer-gallery .inner-gallery .gallery-desctittle h4 {
	color: #483835;
	font-size: 20px
}

.homepage .section.content-gallery h2 {
	color: #483835;
	margin-bottom: 0
}

.homepage .section.content-gallery a {
	color: #c69c5b
}

.homepage .section.content-testimonial {
	text-align: center;
	padding-bottom: 50px;
	margin-bottom: 0
}

.homepage .section.content-testimonial .text-slider {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden
}

.homepage .section.content-testimonial .owl-nav {
	display: none
}

.homepage .section.content-testimonial .owl-theme .owl-dots .owl-dot.active span,
.homepage .section.content-testimonial .owl-theme .owl-dots .owl-dot:hover span {
	background: #ff7b00 !important
}

.homepage .section.content-testimonial .tittle-slide {
	text-align: center
}

.homepage .section.content-testimonial a {
	color: #c69c5b;
	font-style: italic
}

.singlepage {
	margin-bottom: 0 !important
}

.singlepage .hero-image {
	position: relative;
	padding-bottom: 40%;
	background-size: cover !important;
	background-position: 50% !important;
	overflow: hidden;
	min-height: 350px
}

.singlepage .hero-image:before {
	background: rgba(0, 0, 0, .5);
	width: 100%;
	display: block;
	height: 100%;
	content: "";
	position: absolute
}

.singlepage .hero-image .tittle-box {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.singlepage .hero-image .tittle-box h2 {
	color: #fff
}

.singlepage .hero-image .tittle-box h2:after {
	margin-left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	content: "";
	height: 15px;
	top: 50%;
	border-radius: 100%;
	width: 15px;
	display: block;
	margin-top: 15px;
	margin-bottom: 5px
}

.singlepage .hero-image .tittle-box h5 {
	color: #fff
}

.singlepage .section {
	margin-top: 50px;
	margin-bottom: 50px
}

.singlepage .section.ctnsingle-detail {
	margin-top: 0 !important;
	background-size: cover;
	background-color: #edeff0;
	padding-top: 30px;
	padding-bottom: 30px
}

.singlepage .section.ctnsingle-detail .carousel-inner.vertical {
	height: 100%
}

.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.item {
	transition: top .9s ease-in-out
}

@media (-webkit-transform-3d),
(transform-3d) {
	.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.item {
		transition: transform .6s ease-in-out;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		perspective: 1000
	}
	.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.item.active.right,
	.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.item.next {
		transform: translate3d(0, 33.33%, 0);
		top: 0
	}
	.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.item.active.left,
	.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.item.prev {
		transform: translate3d(0, -33.33%, 0);
		top: 0
	}
	.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.item.active,
	.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.item.next.left,
	.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.item.prev.right {
		transform: translateZ(0);
		top: 0
	}
}

.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.active {
	top: 0
}

.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.next,
.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.prev {
	top: 0;
	height: 100%;
	width: auto
}

.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.next {
	left: 0;
	top: 33.33%;
	right: 0
}

.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.prev {
	left: 0;
	top: -33.33%;
	right: 0
}

.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.next.left,
.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.prev.right {
	top: 0
}

.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.active.left {
	left: 0;
	top: -33.33%;
	right: 0
}

.singlepage .section.ctnsingle-detail .carousel-inner.vertical>.active.right {
	left: 0;
	top: 33.33%;
	right: 0
}

.singlepage .section.ctnsingle-detail #carousel-pager .carousel-control.left {
	bottom: auto;
	width: 100%
}

.singlepage .section.ctnsingle-detail #carousel-pager .carousel-control.right {
	top: auto;
	width: 100%
}

.singlepage .section.ctnsingle-detail .ctnsingle-btn {
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
	top: 50%;
	left: 50%
}

.singlepage .section.ctnsingle-detail .ctnsingle-btn .btn-main.large {
	padding: 20px;
	width: 20%;
	float: none
}

@media (max-width:767px) {
	.singlepage .section.ctnsingle-detail .ctnsingle-btn .btn-main.large {
		width: 50%
	}
}

.singlepage .section.ctnsingle-detail .ctnsingle-text {
	padding-top: 15px
}

.singlepage .section.ctnsingle-detail .ctnsingle-text li,
.singlepage .section.ctnsingle-detail .ctnsingle-text p {
	color: #483835
}

.singlepage .section.ctnsingle-detail .ctnsingle-text h4 {
	color: #483835;
	padding-bottom: 10px
}

.singlepage .section.ctnsingle-detail .owl-carousel .owl-slide {
	padding-bottom: 60%
}

.singlepage .section.ctnsingle-detail .owl-carousel .owl-nav {
	position: absolute;
	top: 40%;
	left: 20px;
	right: 20px
}

@media (max-width:767px) {
	.singlepage .section.ctnsingle-detail .owl-carousel .owl-nav {
		top: 45%
	}
}

.singlepage .section.ctnsingle-detail .owl-carousel .owl-nav .owl-prev {
	float: left
}

.singlepage .section.ctnsingle-detail .owl-carousel .owl-nav .owl-next {
	float: right
}

.singlepage .section.ctnsingle-detail .owl-carousel .owl-nav i {
	color: #fff;
	font-size: 40px
}

.singlepage .section.ctnsingle-detail .owl-carousel .owl-dots {
	position: absolute;
	left: 50%;
	bottom: 5px;
	transform: translate(-50%);
	text-align: center
}

.singlepage .section.ctnsingle-detail .owl-carousel .owl-dots .owl-dot {
	display: inline-block;
	padding: 3px
}

.singlepage .section.ctnsingle-detail .owl-carousel .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	background: hsla(0, 0%, 100%, .5);
	display: block;
	border-radius: 100%
}

.singlepage .section.ctnsingle-detail .owl-carousel .owl-dots .owl-dot.active span,
.singlepage .section.ctnsingle-detail .owl-carousel .owl-dots .owl-dot:hover span {
	background: #fff
}

.singlepage .section.content-gallery {
	background-size: cover;
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 60px
}

.singlepage .section.content-gallery .tittle-section {
	text-align: center
}

.singlepage .section.content-gallery .outer-gallery {
	margin-top: 30px
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery:hover .overlay {
	opacity: 1
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery:hover .gallery-desc,
.singlepage .section.content-gallery .outer-gallery .inner-gallery:hover .gallery-descseconda {
	display: none
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery .overlay {
	position: absolute;
	background: rgba(0, 0, 0, .5);
	z-index: 1;
	padding: 26px;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all .3s ease
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery .overlay .overlay-line {
	position: relative;
	width: 100%;
	height: 100%;
	border: 2px solid #c69c5b
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery .overlay .overlay-line h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 20px;
	color: #fff;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery .gallery-img {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery .gallery-img img {
	position: absolute;
	width: 100%;
	max-width: none;
	height: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery .gallery-desc {
	height: 70px;
	width: 100%;
	bottom: 0;
	position: absolute;
	background-color: #ebebeb
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery .gallery-desc:before {
	background: #c69c5b;
	content: "";
	height: 2px;
	position: absolute;
	top: 50%;
	width: 30px;
	display: inline
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery .gallery-desctittle {
	padding: 15px 40px
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery .gallery-desctittle h5 {
	letter-spacing: 1px;
	font-size: 16px;
	color: #483835
}

.singlepage .section.content-gallery .outer-gallery .inner-gallery .gallery-desctittle h4 {
	font-size: 20px;
	color: #483835
}

.singlepage .section.content-gallery h2 {
	color: #636363;
	margin-bottom: 0
}

.singlepage .section.content-gallery a {
	color: #c69c5b
}

.singlepage .section.contact .section.form-contact {
	padding-top: 50px;
	padding-bottom: 50px
}

.singlepage .section.contact .section.form-contact .contact-desc p {
	color: #483835
}

.singlepage .section.contact .section.form-contact .contact-form .form-control {
	margin: 5px;
	border-radius: 5px !important
}

.singlepage .section.contact .section.form-contact .contact-form .row {
	margin-bottom: 10px
}

.singlepage .section.contact .section.form-contact .contact-form .btn-main {
	float: right;
	right: 0;
	display: block !important;
	width: 100% !important;
	max-width: none !important
}

.singlepage .section.contact .section.map {
	margin-bottom: -60px
}

.owl-carousel {
	position: relative;
	height: 100%
}

.owl-carousel .owl-slide {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 90vh;
	overflow: hidden;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover
}

.owl-carousel div.owl--text {
	position: absolute;
	bottom: 4em;
	left: 2em;
	width: 20em;
	height: 8em;
	padding: 1em;
	background: hsla(0, 0%, 100%, .5);
	border-radius: 4px
}

.owl-carousel .owl-nav {
	position: absolute;
	top: 40%;
	left: 20px;
	right: 20px
}

@media (max-width:767px) {
	.owl-carousel .owl-nav {
		top: 45%
	}
}

.owl-carousel .owl-nav .owl-prev {
	float: left
}

.owl-carousel .owl-nav .owl-next {
	float: right
}

.owl-carousel .owl-nav i {
	color: #fff;
	font-size: 40px
}

.owl-carousel .deals-slide .owl-prev {
	float: left
}

.owl-carousel .deals-slide .owl-prev:before {
	font-family: FontAwesome;
	content: "\f104";
	font-size: 28px;
	color: #fff
}

.owl-carousel .deals-slide .owl-next {
	float: right
}

.owl-carousel .deals-slide .owl-next:before {
	font-family: FontAwesome;
	content: "\f105";
	font-size: 28px;
	color: #fff
}

.owl-carousel .deals-slide i {
	color: #fff;
	font-size: 40px
}

#wrapper.homepage .owl-carousel .owl-slide {
	padding-bottom: calc(100vh - 70px);
	min-height: 400px
}

@media (max-width:767px) {
	#wrapper.homepage .owl-carousel .owl-slide {
		padding-bottom: 60vh
	}
}

#wrapper.homepage .owl-carousel .owl-slide:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .5)
}

@media (max-width:992px) {
	#wrapper.homepage .owl-carousel .owl-slide:after {
		background: transparent
	}
}

.main-footer {
	background-color: #f5f5f5
}

.main-footer .footer-link {
	background: #2a2a2a;
	padding: 30px 0
}

.main-footer .footer-link .logo-footer {
	text-align: center;
	margin-bottom: 30px
}

.main-footer .footer-link .logo-footer .logo-footerinner {
	height: 200px;
	position: relative
}

.main-footer .footer-link .logo-footer img {
	position: absolute;
	width: 70%;
	padding: 10px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.main-footer .footer-link .social-footer,
.main-footer .footer-link .social-footer h3 {
	text-align: center
}

.main-footer .footer-link .social-footer ul {
	font-size: 0;
	margin: 0 -7px;
	display: inline-block
}

.main-footer .footer-link .social-footer ul li {
	display: inline-block;
	padding: 5px
}

.main-footer .footer-link .social-footer ul li a {
	display: block;
	height: 40px;
	width: 40px;
	text-align: center;
	color: #c69c5b;
	background: #fff;
	border-radius: 20%
}

.main-footer .footer-link .social-footer ul li a i {
	line-height: 40px;
	font-size: 20px
}

.main-footer .footer-link .social-footer ul li a:hover {
	background: #c69c5b;
	color: #2a2a2a
}

.main-footer .footer-link ul {
	list-style: none;
	padding-left: 0
}

.main-footer .footer-link li {
	display: table;
	float: left
}

.main-footer .footer-link p {
	font-size: 16px;
	color: #fff
}

.main-footer .footer-info {
	padding: 15px;
	text-align: center;
}

.main-footer .footer-info p {
	margin-bottom: 0;
	color: #636363;
	font-size: 12px;
	text-align: center
}

.mobmenu {
	position: absolute;
	top: 6px;
	right: 10px;
	line-height: 20px
}

@media (min-width:1025px) {
	.mobmenu {
		display: none
	}
}

.mobmenu .user-form {
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle
}

.mobmenu .user-form i {
	font-size: 26px;
	color: #636363
}

.toggleMenu {
	background: transparent;
	border: 1px solid #fff;
	color: #fff !important;
	display: none;
	font-size: 20px;
	padding: 7px 10px
}

@media (max-width:1024px) {
	#desknav .nav,
	#desknav .toggleMenu {
		display: none !important
	}
}

.sidenav {
	background: rgba(0, 0, 0, .7);
	height: 100%;
	overflow-x: hidden;
	left: 0;
	top: 0;
	transition: .5s;
	position: fixed;
	width: 0;
	z-index: 4 !important
}

@media (min-width:1152px) {
	.sidenav {
		display: none
	}
}

@media (max-width:1024px) {
	.sidenav {
		display: block
	}
}

.sidenav a {
	color: #636363 !important;
	display: block;
	font-size: 12px;
	padding: 0;
	text-decoration: none;
	transition: .3s;
	line-height: 38px
}

@media (max-width:767px) {
	.sidenav a {
		line-height: 38px !important
	}
}

@media (max-width:1024px) {
	.sidenav li a {
		font-size: 14px;
		border-bottom: 1px solid #ebebeb;
		text-transform: uppercase
	}
}

@media (max-width:1024px) {
	.sidenav li.has-submenu ul li a {
		line-height: 20px !important;
		padding: 5px 10px !important
	}
}

.sidenav .closebtn {
	font-size: 30px;
	position: absolute;
	top: 0;
	right: 80px;
	color: #636363 !important;
	padding: 0 5px
}

.sidenav .monav>li {
	border-bottom: 1px solid #fff;
	display: block;
	position: relative
}

.sidenav .monav>li:first-child a {
	border-top: 1px solid #ebebeb
}

.sidenav .monav>li .sub-menu {
	padding-left: 0;
	max-height: 0;
	overflow: hidden;
	transition-duration: .3s
}

.sidenav .monav>li.shrink>.sub-menu {
	max-height: 200em;
	transition-duration: 1s
}

.sidenav .monav>li.shrink>.sub-menu a {
	padding-left: 20px;
	background: rgba(0, 0, 0, .03)
}

.sidenav .monav>li i {
	transform: translate(0);
	transition: all .5s;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 10px;
	line-height: 38px;
	color: #636363;
	cursor: pointer;
	height: 38px;
	font-size: 20px
}

#mobinav .mobinav-inner {
	width: auto;
	background: #fff;
	height: 100%;
	margin-right: 70px;
	color: #636363
}

#mobinav .mobinav-inner .monav {
	padding: 50px 15px
}

#mobinav .mobinav-inner.default .intro {
	background: #ebebeb;
	padding: 15px 10px;
	text-align: center
}

#mobinav .mobinav-inner.default .intro span {
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px
}

#mobinav .mobinav-inner.default .intro a {
	margin: 0 10px;
	color: #fff !important;
	border-radius: 3px;
	-webkit-border-radius: 3px
}

#mobinav .mobinav-inner.default .monav a i {
	position: relative;
	color: #636363 !important
}

#mobinav .mobinav-inner.default .monav .line-top {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ebebeb
}

#mobinav .mobinav-inner.default .monav .line-bottom {
	margin-bottom: 10px;
	border-bottom: 1px solid #ebebeb
}

#mobinav .mobinav-inner.login .monav .mobprofile {
	padding: 15px 10px;
	background: #ebebeb
}

#mobinav .mobinav-inner.login .monav .mobprofile .nav-profile {
	margin-bottom: 0
}

@media (max-width:1024px) {
	.navbar-header {
		float: right
	}
	.navbar-left,
	.navbar-right {
		float: none !important
	}
	.navbar-toggle {
		display: block;
		float: left;
		padding: 0;
		border: 0;
		margin-top: 14px;
		margin-bottom: 14px
	}
	.navbar-toggle .icon-bar {
		width: 30px;
		height: 3px;
		border-radius: 0;
		background-color: #c69c5b !important;
		margin-bottom: 2.5px;
		margin-top: 2.5px
	}
}

@media (max-width:1024px) and (max-width:767px) {
	.navbar-toggle {
		margin-left: 15px
	}
}

@media (max-width:1024px) {
	.navbar-toggle:focus {
		background-color: transparent !important
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1)
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px
	}
	.navbar-collapse.collapse {
		display: none !important
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px
	}
	.navbar-nav>li {
		float: none !important;
		display: block !important
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px
	}
	.collapse.in {
		display: block !important
	}
}

.sectitle h2 {
	position: relative;
	padding-bottom: 30px
}

.sectitle h2:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: calc(50% - 35px);
	height: 3px;
	width: 75px;
	background: #ebebeb
}

.sectitle__seconda {
	text-align: center
}

.sectitle__seconda h2 {
	padding-bottom: 0
}

.sectitle__seconda .subtext {
	position: relative;
	padding: 5px 0 10px;
	display: block;
	color: #c69c5b
}

.sectitle__seconda .subtext:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 50%;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background: #483835
}

.sectitle__maintittle {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px
}

.sectitle__maintittle h1 {
	color: #483835
}

.sectitle__others {
	position: relative;
	text-align: center;
	padding-bottom: 30px
}

.sectitle__others h2 {
	color: #483835
}

.sectitle__others h2:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 50%;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background: #483835
}

.section__block {
	padding: 60px 0 !important;
	margin-bottom: 0 !important
}

.textlink {
	text-align: center
}

.textlink a {
	margin: 0 auto;
	display: inline-block
}

.textlink a:after {
	content: "";
	display: block;
	margin: auto;
	height: 1px;
	width: 0;
	background: 0 0;
	transition: width .4s ease, background-color .4s ease
}

.textlink a:hover:after {
	background: #c69c5b;
	width: 100%
}

.coverbox {
	position: relative;
	padding-bottom: 30%;
	background-size: cover;
	background-position: 50%;
	overflow: hidden;
	min-height: 350px
}

.coverbox:before {
	background: rgba(0, 0, 0, .5);
	width: 100%;
	display: block;
	height: 100%;
	content: "";
	position: absolute
}

.coverbox .boxtitle {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff
}

.coverbox .boxtitle h1,
.coverbox .boxtitle h2 {
	position: relative;
	padding-bottom: 30px;
	font-size: 36px
}

.coverbox .boxtitle h1:after,
.coverbox .boxtitle h2:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background: #fff;
	transform: translate(-50%, -50%)
}

.coverbox .boxtitle .subtext {
	padding: 15px 0 10px;
	display: block
}

.coverbox .boxtitle .search-box {
	padding-top: 20px
}

.innerlistcontent {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden
}

.innerlistcontent .ctnimage {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden
}

.innerlistcontent .ctnimage>img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	max-width: inherit !important;
	object-fit: cover
}

.innerlistcontent .ctndesc {
	width: 100%;
	background-color: hsla(0, 0%, 100%, .5);
	position: relative;
	bottom: 0
}

.innerlistcontent .ctndesc .ctntitle {
	z-index: 2;
	padding: 15px 0
}

.innerlistcontent .ctndesc .ctntitle:before {
	background: #c69c5b;
	content: "";
	height: 2px;
	position: absolute;
	top: 50%;
	width: 30px;
	display: inline
}

.innerlistcontent .ctndesc .ctntitle h4 {
	color: #483835;
	padding-left: 40px
}

.innerlistcontent .icofac {
	position: absolute;
	bottom: 15px;
	z-index: 1
}

.innerlistcontent .icofac ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 15px
}

.innerlistcontent .icofac ul li {
	width: 30px;
	height: 30px;
	padding: 5px;
	margin: 0 2px;
	background-color: hsla(0, 0%, 100%, .8);
	display: inline-block
}

.innerlistcontent .icofac ul li img {
	width: 100%;
	height: 100%;
	display: inline-block;
	line-height: 30px;
	vertical-align: top
}

.innerlistcontent a .bxoverlay {
	opacity: 0
}

.innerlistcontent a:hover .ctndesc {
	background-color: transparent;
	z-index: 2
}

.innerlistcontent a:hover .ctndesc h4 {
	color: #fff;
	z-index: 2
}

.innerlistcontent a:hover .bxoverlay {
	background-color: rgba(68, 48, 16, .72);
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	transition: all .5s;
	opacity: 1
}

.innerlistcontent__seconda {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden
}

.innerlistcontent__seconda .ctnimage {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden
}

.innerlistcontent__seconda .ctnimage>img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	max-width: inherit !important;
	object-fit: cover
}

.innerlistcontent__seconda .ctndesc {
	width: 100%;
	position: relative
}

.innerlistcontent__seconda .ctndesc .ctntitle {
	z-index: 2;
	padding: 15px 0
}

.innerlistcontent__seconda .ctndesc .ctntitle:before {
	background: #c69c5b;
	content: "";
	height: 2px;
	position: absolute;
	top: 50%;
	width: 30px;
	display: inline
}

.innerlistcontent__seconda .ctndesc .ctntitle h4 {
	color: #483835;
	padding-left: 40px
}

.innerlistcontent__seconda .icofac {
	position: absolute;
	bottom: 15px;
	z-index: 1
}

.innerlistcontent__seconda .icofac ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 15px
}

.innerlistcontent__seconda .icofac ul li {
	width: 30px;
	height: 30px;
	padding: 5px;
	margin: 0 2px;
	background-color: hsla(0, 0%, 100%, .8);
	display: inline-block
}

.innerlistcontent__seconda .icofac ul li img {
	width: 100%;
	height: 100%;
	display: inline-block;
	line-height: 30px;
	vertical-align: top
}

.innerlistcontent__seconda a .bxoverlay {
	opacity: 0
}

.innerlistcontent__seconda a:hover .ctndesc h4 {
	color: #000;
	z-index: 2
}

.innerlistcontent__seconda a:hover .bxoverlay {
	background-color: rgba(68, 48, 16, .72);
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	transition: all .5s;
	opacity: 1
}

.innerlistcontent__thirda {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden
}

.innerlistcontent__thirda .ctnimage {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden
}

.innerlistcontent__thirda .ctnimage>img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	max-width: inherit !important;
	object-fit: cover
}

.innerlistcontent__thirda .ctndesc {
	width: 100%;
	bottom: 0;
	position: absolute
}

.innerlistcontent__thirda .ctndesc .ctntitle {
	z-index: 2;
	padding: 15px 0
}

.innerlistcontent__thirda .ctndesc .ctntitle:before {
	background: #c69c5b;
	content: "";
	height: 2px;
	position: absolute;
	top: 50%;
	width: 30px;
	display: inline
}

.innerlistcontent__thirda .ctndesc .ctntitle h4 {
	color: #483835;
	padding-left: 40px
}

.innerlistcontent__thirda .icofac {
	position: absolute;
	bottom: 15px;
	z-index: 1
}

.innerlistcontent__thirda .icofac ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 15px
}

.innerlistcontent__thirda .icofac ul li {
	width: 30px;
	height: 30px;
	padding: 5px;
	margin: 0 2px;
	background-color: hsla(0, 0%, 100%, .8);
	display: inline-block
}

.innerlistcontent__thirda .icofac ul li img {
	width: 100%;
	height: 100%;
	display: inline-block;
	line-height: 30px;
	vertical-align: top
}

.innerlistcontent__thirda a .bxoverlay {
	opacity: 0
}

.innerlistcontent__thirda a:hover .ctndesc h4 {
	color: #fff;
	z-index: 2
}

.innerlistcontent__thirda a:hover .bxoverlay {
	background-color: rgba(68, 48, 16, .72);
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	transition: all .5s;
	opacity: 1
}

.contentslide .slider-for .item span {
	position: relative;
	padding-bottom: 67%;
	height: 0;
	overflow: hidden;
	display: block
}

.contentslide .slider-for .item span img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	max-width: inherit !important;
	object-fit: cover
}

.contentslide .slider-for button {
	position: absolute;
	bottom: 10px;
	top: auto;
	left: auto;
	width: 30px;
	height: 30px;
	background-color: hsla(0, 0%, 100%, .7)
}

.contentslide .slider-for button:hover {
	background-color: #fff
}

.contentslide .slider-for button i {
	color: #c69c5b;
	font-size: 22px
}

.contentslide .slider-for button.slick-prev {
	right: 60px;
	left: auto
}

.contentslideinfo {
	margin: 30px 0
}

.contentslidethumb .slider-nav .item span {
	position: relative;
	padding-bottom: 67%;
	height: 0;
	overflow: hidden;
	display: block;
	margin: 0 0 20px
}

.contentslidethumb .slider-nav .item span img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	max-width: inherit !important;
	object-fit: cover
}

.contentslidethumb .slider-nav .slick-prev {
	left: 25px
}

.contentslidethumb .slider-nav .slick-next {
	right: 25px
}

.contentslidethumb .slider-nav i {
	font-size: 24px
}

@media (max-width:991px) {
	.menu-home .menu h4 {
		font-size: 30px
	}
}

@media (max-width:767px) {
	.menu-home .menu h4 {
		display: none
	}
	.main-footer .logo-footer {
		margin-left: auto;
		margin-right: auto
	}
	.main-footer .social-footer,
	.main-footer .social-footer h3 {
		text-align: center
	}
}

.contact-form label {
    margin-bottom: 15px;
    width: 100%
}

.contact-form label span,
.contact-form label .wpcf7-form-control-wrap {
    width: 100%
}

.contact-form label span input,
.contact-form label span textarea,
.contact-form label .wpcf7-form-control-wrap input,
.contact-form label .wpcf7-form-control-wrap textarea {
    width: 100%;
    padding: 5px
}

.contact-form label span input:focus,
.contact-form label span textarea:focus,
.contact-form label .wpcf7-form-control-wrap input:focus,
.contact-form label .wpcf7-form-control-wrap textarea:focus {
    outline: 0;
    border: 1px solid #04A4CC
}

/*# sourceMappingURL=main.css.map */
